body { background: #9dbef1; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 59px; display: flex; }
.block-cache-0 { color: #2d611a; font-size: 18px; margin-bottom: 5px; }
.block-cluster-1 { color: #e5c3e0; font-size: 21px; margin-bottom: 5px; }
.block-token-2 { color: #4b0685; font-size: 15px; margin-bottom: 5px; }
.block-email-3 { color: #aceb1f; font-size: 20px; margin-bottom: 5px; }
.block-config-4 { color: #f9b07a; font-size: 16px; margin-bottom: 5px; }
.block-uploader-5 { color: #900975; font-size: 17px; margin-bottom: 5px; }
.block-cart-6 { color: #1fd305; font-size: 19px; margin-bottom: 5px; }
.block-cache-7 { color: #f5af4b; font-size: 17px; margin-bottom: 5px; }
.block-uploader-8 { color: #50957f; font-size: 19px; margin-bottom: 5px; }